body {
    background-color: beige;
}

h1 {
    color: brown;
    text-align: left;
}

table {
    border: 1px solid;
}

th {
    color: aliceblue;
    background-color: cadetblue;
    padding: 15px;
}

tr, td {
    padding: 15px;
    text-align: center;
    background-color: antiquewhite;
    border: 1px solid;
    border-color:aliceblue;
    border-style: groove;
}

td.S {
    background-color: cornsilk;
}

td.A {
    background-color: blanchedalmond;
}

td.B {
    background-color: bisque;
}

td.C {
    background-color:wheat;
}

td.D {
    background-color: palegoldenrod;
}